.container {
  background-color: white;
  width: 100%;
  text-align: center;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.container-d {
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
}

h2, h3, h4 {
  margin-bottom: 20px;
  padding: 20px;
  color : #E9C46A;
}


.welcome 
{
  font-size: 50px;
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome strong
{
  padding: 10px;
}

.container-cards-animals{
  display: flex;
  margin: 0 20%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.card-animal{
  position: relative;
  border: 1px solid rgb(230, 230, 230);
  color: #F3F3F3;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  width: 300px;
  height: 300px;
  margin: 15px;
}

.card-animal p{
  padding-right: 15px;
  padding-bottom: 5px;
  text-shadow: 0px 1px 8px #000000;
}

.card-animal .name{
  font-weight: bold;
  font-size: 24px;
}

.card-animal .species{
  font-size: 22px;
  font-weight: lighter;
}

.card-animal .price{
  font-size: 20px;
  font-weight: lighter;
}

.request-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  
  .card {
    margin-left: 10px;
  }
}


.container-sm, .container {
  max-width: 100%;

.accepted-cards
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.declined-cards
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-pending-bookings
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-dashboard
{
  width: 100%;
  height: 300px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}

#pic {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  bottom: 52px;
  img {
    height: 140px;
    width: 140px;
    object-fit: cover;
    border-radius: 50%;
  }
}

#ref {
  text-align: center;
  margin-bottom: 62px;
  font-size: 30px;
}

.cal {
  padding: 0 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-bottom: 49px;
}

#calendrier {
  display: flex;
  background-color: white;
  padding: 5px 20px;
  justify-content: space-between;
}

#link{
  display: flex;
  justify-content: center;
  a {
    display: block;
    margin: 0 10px;
  }
}

.reviews {
  width: 80%;
  .review{
    width: 100%;
    display: flex;
    border-bottom: 2px solid lightgrey;
    p {
      padding: 20px;
      margin-top: 58px;

    }
  }
}


.form-wrapper {
  padding: 10px;
}

.add-image
{
  background-image: url('https://images.unsplash.com/photo-1583511655857-d19b40a7a54e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2549&q=80');
  background-size: cover;
  background-position: center;
  filter: blur(3px);
  width: 100%;
  height: 100%;
}

.not-blured
{
  position: absolute;
  filter: blur(0px);
  font-size: 90px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-animal i
{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E9C46A;
  opacity: 0.8;
}
