@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

body
{
  font-family: 'Raleway', sans-serif;
}

// h1, h2
// {
//   display: flex;
//   justify-content: center;
//   text-align: center;
// }

.container-cards-animals
{
  display: flex;
  margin: 0 20%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.card-animal
{
  border: 1px solid rgb(230, 230, 230);
  color: #F3F3F3;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  width: 300px;
  height: 300px;
  margin: 15px;
}

.card-animal p
{
  padding-right: 15px;
  padding-bottom: 5px;
  text-shadow: 0px 1px 8px #000000;
}

.card-animal .name
{
  font-weight: bold;
}

.card-animal .species
{
  font-weight: lighter;
}

.card-animal .price
{
  font-weight: lighter;
}

.hero-banner
{
  display: flex;
  border: 1px solid rgb(210, 210, 210);
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  font-weight: medium;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 300px;
  width: 1200px;
  margin: 20px auto;
  background-image: url('https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  color: #fff;
  background-repeat: no-repeat;
}

.hero-banner a
{
  display: flex;
  box-sizing: border-box;
  width: 150px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(0, 26, 255);
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(50, 70, 250);
  color: #fff;
  margin: 10px;
  font-weight: lighter;
}

.footer
{
  padding: 50px 25px;
  background: #150c21;
}

.footer p
{
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-content: center;
}

i
{
  color: red;
  padding: 5px;
}

.form
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.animal-button
{
  border-radius: 100px;
}

form i
{
  color: #000;
}

form
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
}

form button
{
  border-radius: 50px;
  padding: 5px;
  background-color: #E9C46A;
  border: 1px solid #ced4da;
  position: absolute;
  right: 5px;
}

form input
{
  padding: 20px !important;
  border-radius: 10px !important;
}

.form form
{
  position: relative
}