@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body
{
  font-family: 'Raleway', sans-serif;
}

h1, h2
{
  display: flex;
  justify-content: center;
  text-align: center;
}

.container-cards-animals
{
  display: grid;
  margin: 0 20%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
}

.card-animal
{
  border: 1px solid rgb(230, 230, 230);
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  width: 300px;
  height: 300px;
}