#header {
  background-color: white;
  width: 100%;
  text-align: center;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  .say-hello {
    font-size: 42px;
  .animal-name {
    color: #E9C46A;
  }
  a {
    position: absolute;
    bottom: -21px;
    right: 52px;
  }
}
}

p.animal-name {
  font-size: 32px;
  color: #E9C46A;
}


.container {
  width: 500px;
  height: 470px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 15px lightgrey;
  padding: 20px;
}

.container-sm {
  max-width: 100%;
}



.btn-primary {
  color: #fff;
  background-color: black;
  border-color: black;
  border-radius: 10px;
}

#pic {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  bottom: 50px;
  img {
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 50%;
  }
}

#ref {
  text-align: center;
  margin-bottom: 62px;
  font-size: 27px;
  #description{
    #prout{
      padding: 14px 100px;
    }
  }
}

.cal {
  padding: 0 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-bottom: 49px;
  h2 {
    color: #E9C46A;
    margin: 10px 0 25px 0;
  }
}

.not-cal {
  padding: 0 60px;
  margin: 0 auto;
  width: 750px;
  margin-bottom: 50px;
  h2 {
    color: #E9C46A;
  }
}

#calendrier {
  display: flex;
  background-color: white;
  padding: 5px 20px;
  justify-content: space-between;
}

#link{
  display: flex;
  justify-content: center;
  a {
    display: block;
    margin: 0 10px;
  }
}

.reviews {
  background-color: white;
  width: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 15px lightgrey;
  h2 {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
  }
  .review{
    width: 100%;
    display: flex;
    border-bottom: 2px solid lightgrey;
    p {
      padding: 35px;
    }
  }
}

.coucou {
  background-color: white;
  box-shadow: 2px 2px 15px lightgrey;
  border-radius: 10px;
}

.other-reviews {
  background-color: white;
  width: 100%;
  padding: 52px;
  border-radius: 10px;
  box-shadow: 2px 2px 15px lightgrey;
  .review{
    width: 100%;
    display: flex;
    border-bottom: 2px solid lightgrey;
    p {
      padding: 20px;
    }
  }
}

.reviews p {
  text-align: center;
}

#back {
  z-index: 15;
  position: absolute;
  bottom: 0;
 i {
  color: black;
 }
}

#prout {
  color: #b2adad;
  font-size: 15px;
}

.form-group.string.optional {
  text-align: center;
}


.simple_form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input.btn.btn.btn-primary{
  width: 100%;
}

.location_start_date{
  position: relative;
  bottom: 15px;
}

.submit-location {
  margin-bottom: 25px;
}
