<div class="container-animal">
  <h1>Book Your Friend ®</h1>
  <p class="h2"><ins>Animal lovers ?</ins> Book and rent animals for several days easily and in a few clicks</p>
  <%= link_to 'Get started !', animals_path %>
</div>