.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.btn-create {
  background-color:#E9C46A;
  padding: 10px;
  border-radius: 50px;
  color:white;
  font-weight: bold;
  text-decoration: none;
  margin-left: 1400px;
}

.btn-create:hover {
  color:white;
  text-decoration: none;
  background-color:#a58c4b;

}

.navbar-brand a {
  color:black;
  text-decoration: none;
  margin-left:10px;
}